
<div class="upcoming_events">
<h2> Events you might be interested in:</h2>
  
  <%@all_events.each do |event| %>
  <ul>
    <div class="event" data-id=<%=event["event"]["id"]%>>
      <h3><span class="title"><%=event["event"]["title"]%></span><button class="description">More Info</button></h3><p> <b>Distance from you:</b> <%=event["event"]["distance"]%> - <b>Address:</b> <span class="event_address"><%=event["event"]["venue"]["address"]%> </span>

  <% if current_user %>
      <a href= "#"  class="eventChoice">I'm interested in this event</a><br>
      <% end %>
    <br>
    <b>Start:</b> <span class="start_date"><%=event["event"]["start_date"].strftime("%d %b %Y")%></span>
      <b>End:</b> <span class="end_date"><%=event["event"]["end_date"].strftime("%d %b %Y")%></span><br></p>
    
      <div id="desc" class="descriptionNone"><%=event["event"]["description"]%></div>
      <br>
    </div>
  </ul>
 <%end%>
</div>