<div class="upcoming_events">
<h2> Events you might be interested in:</h2>
  
  <%@all_events.each do |event| %>
  <ul>
    <div class="event" data-id=<%=event["event"]["id"]%>>
      <h3><span class="title"><%=event["event"]["title"]%></span><button class="description">More Info</button></h3>

      <% if current_user %>
        <div class="rock">
        <a href= "#"  class="eventChoice"><img class= "rock_img" src="http://cdsfmdumai.com/wp-content/uploads/2014/02/Dug_Rock_On.png" alt=""></img></a>
        </div>
      <% end %>

      <p> 
      <b>Distance from you:</b> <%=event["event"]["distance"]%> <b>Address:</b> <span class="event_address"><%=event["event"]["venue"]["address"]%> </span>


    <br>

    <b>Date:</b> <span class="start_date"><%=Time.parse(event["event"]["start_date"]).strftime("%A, %b %d %I:%M %p")%></span>
      to <span class="end_date"><%=Time.parse(event["event"]["end_date"]).strftime("%I:%M %p")%></span><br></p>
    
      <div id="desc" class="descriptionNone"><%=event["event"]["description"]%></div>
      <br>
    </div>
  </ul>
 <%end%>
</div>