<div id="profile_right_side">
  <div id="map-canvas"></div>
    <form action='/location' method='get'>
      <div>
        Select a something you dig: (or don't!)
        <select class="mycategory">
          <option value="">Optional Categories</option>
          <option value="HTML">HTML</option>
          <option value="Ruby">Ruby</option>
          <option value="Javascript">Javascript</option>
          <option value="Coffee">Coffee</option>
          <option value="3D printing">3D printing</option>
          <option value="Sleep deprivation">Sleep deprivation</option>
          <option value="Sports">Sports</option>
          <option value="Drinks">Drinks</option>
          <option value="Free Food">Free Food AKA "Networking"</option>
          <option value="Travel">Travel</option>
          <option value="Performances">Performances</option>
          <option value="Job Fairs">Job Fairs</option>
          <option value="Music">Music</option>
          <option value="Conference">Conference</option>
        </select>
        <select class="mydistance">
          <option value="100">Optional Distance</option>
          <option value="0.25">Right next door (0.25 mi)</option>
          <option value="1.0">10 minute walk (1 mi)</option>
          <option value="5">Over yonder (5 mi)</option>
          <option value="10">Slightly more yonder(10 mi)</option>
          <option value="20">Most Yonderest (20 mi)</option>
        </select>
        <input class="find-event" type='submit' name="find_event" value="carpe eventus!">
      </div>
    </form>
</div>


<div class="preference">
<h2> Your current user info: </h2>
   <%current_user.name%>
   <%current_user.email%>
   <%current_user.distance%>
   <%current_user.category%>
</div>


<div class="locations">
<h4> Your recent logins</h4>
  <% @locations.each do |location| %>
    <% if location.location != nil%>
      <h4><%=location.location%><h4>
    <%end%>
    <span><%=location.latitude%> : <%=location.longitude%></span>

    <form action="/location/new" method="post">
      <input type="text" class="locationChoice" name="location" placeholder="Name this location:"/>
      <input type="hidden" value=<%=location.id%> name="id">
      <input type="submit" value= "Submit"/>
     </form>
  <% end %>
</div>


<div class="past_events">
<h2> Events upcoming: </h2>
  <%@past_events.each do |event|%>
    <h4> <%=event.title%> </h4>
    <%=event.start_date%>
    <%=event.end_date%>
    <%=event.address%>
     <a href="#" class="delete">Delete this event</a>
    <%end%>
</div>


<div class="upcoming_events">
<h2> Did you go to these events? </h2>
  <%@upcoming_events.each do |event| %>
    <h4><%=event.title%></h4> @ <%=event.address%> on <%=event.end_date%>
    <br>
    Did you attend?
    <form action="">
      <input type="radio" name="lotsasex" value="true">Yes
      <input type="radio" name="lotsasex" value="false">No
    </form>
    <br>
    What did you think? (Make this ajaxy)
    <form action="/event/feedback" method="post">
      <input type="text" class="feedbackSubmitted" name="feedback" placeholder="How was it?"/>
      <input type="hidden" value=<%=event.id%> name="id">
      <input type="submit" value= "Submit"/>
     </form>
     <br><br>
    <%end%>
</div>


