<div class="preference">
  <h2> Welcome back <%=current_user.name%>!</h2>
  <%=current_user.distance%>
  <%=current_user.category%>
</div>

<div class="locations">
  <p> You last logins were @
  <% @locations.each do |location| %>
    <span><% if location.location != nil%>
      <b><%=location.location%></b> on 
    <%end%>
    <%=location.updated_at.strftime("%A, %b %d %I:%M %p")%> near
    <%=location.latitude%> <%=location.longitude%>
    <% if location.location == nil%>
      <form action="/location/new" method="post" class="locationChoice">
        <input type="text" name="location" placeholder="Name this location:"/>
        <input type="hidden" value=<%=location.id%> name="id">
        <input type="submit" value= "Submit"/>
      </form>
     <%end%>
     </span>
    </p>
  <% end %>
</div>


<div class="past_events">
  <h2> Your upcoming events </h2>
    <%@past_events.each do |event|%>
      <%=event.title%>, <%=event.address%>,
      <small><%=event.start_date%> to 
      <%=event.end_date%> 
      <a href="#" class="delete">Remove</a></small>
      <br>
    <%end%>
</div>


<div class="upcoming_events">
  <h2> Your past events </h2>
    <%@upcoming_events.each do |event| %>
      <h4><%=event.title%></h4> @ <%=event.address%> on <%=event.start_date%>
      <br>
      Did you attend?
      <form action="">
        <input type="radio" name="lotsasex" value="true">Yes
        <input type="radio" name="lotsasex" value="false">No
      </form>
      <br>
      Tell others what you thought of this event:
      <form action="/event/feedback" method="post">
        <input type="text" class="feedbackSubmitted" name="feedback" placeholder="How was it?"/>
        <input type="hidden" value=<%=event.id%> name="id">
        <input type="submit" value= "Submit"/>
       </form>
       <br><br>
      <%end%>
</div>



